<h2 align="center">{{ event.name }} {{ event.date }}</h2>
<h3>Podsumowanie:</h3>
<table border="0.5">
                          <thead align="center">
                            <tr>
                              <th scope="col">Zgloszenia</th>
                              <th scope="col">Potwierdzone</th>
                              <th scope="col">Jezdzilo na nartach</th>
                              <th scope="col">Potrzebuje instruktora</th>
                              <th scope="col">Wyporzycza sprzet</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td>{{ dic['num_signup'] }}</td>
                              <td>{{ dic['num_active'] }}</td>
                              <td>{{ dic['n_skiEver'] }}</td>
                              <td>{{ dic['n_skiInst'] }}</td>
                              <td>{{ dic['n_isLent'] }}</td>
                            </tr>
                    </tbody>
                        </table>
<br>
<table border="0.5">
                          <thead align="center">
                            <tr>
                              <th colspan="2">Rodzaj karnetu</th>
                              <th colspan="6">Wyporzyczany sprzet</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td><b>Ulgowy</b></td>
                              <td><b>Normalny</b></td>
                              <td><b>Narty</b></td>
                              <td><b>Buty</b></td>
                              <td><b>Deska</b></td>
                              <td><b>Kask</b></td>
                              <td><b>Kijki</b></td>
                              <td><b>Gogle</b></td>
                            </tr>
                            <tr>
                              <td>{{ dic['discount'] }}</td>
                              <td>{{ dic['normal'] }}</td>
                              <td>{{ dic['narty'] }}</td>
                              <td>{{ dic['buty'] }}</td>
                              <td>{{ dic['deska'] }}</td>
                              <td>{{ dic['kask'] }}</td>
                              <td>{{ dic['kijki'] }}</td>
                              <td>{{ dic['gogle'] }}</td>
                            </tr>
                    </tbody>
                        </table>
<br>
<h3>Lista uczestników:</h3>
<hr>
{% for signup in sn_lst %}
<div class="card">
    <div class="card-header">
<h5>Uczestnik nr {{ loop.index }}</h5>
</div>
    {% for item in signup.person %}
<h6>Weryfikacja: {% if item.is_verified %}<font color="green">Zapis potwierdzony</font>{% else %}<font color="red">Czeka na potwierdzenie{% endif %}</font></h6>
<h6>Data zapisu: {{ signup.date }}</h6>
<h6>Dane uczestnika:</h6>
<table  border="0.5">
                          <thead align="center">
                            <tr>
                              <th scope="col">Imie i nazwisko</th>
                              <th scope="col">Email</th>
                              <th scope="col" style="width:12%">Numer telefonu</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td>{{ item.name }}</td>
                              <td>{{ item.email }}</td>
                              <td style="width:12%">{{ item.telNum }}</td>
                            </tr>
                           
                          </tbody>
                        </table>
                        <table  border="0.5">
                           <thead align="center">
                            <tr>
                              <th scope="col" style="width:12%">Rok urodzenia</th>
                              <th scope="col">Adres</th>
                              <th scope="col" style="width:12%">Wzrost</th>
                              <th scope="col" style="width:12%">Waga</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td style="width:12%">{{ item.year }}</td>
                              <td>{{ item.adress }}</td>
                              <td style="width:12%">{% if item.height %}{{ item.height }} cm{% else %} - {% endif %}</td>
                              <td style="width:12%">{% if item.weight %}{{ item.weight }} kg{% else %} - {% endif %}</td>
                            </tr>
                           
                          </tbody>
                        </table>
{% endfor %}
          
{% for item in signup.basic %}
<h6>Dodatkowe informacje:</h6>
<table  border="0.5">
                          <thead align="center">
                            <tr>
                              <th scope="col" style="width:15%">Ktory raz na akcji</th>
                              <th scope="col" style="width:15%">Skad sie dowiedzial</th>
                              <th scope="col">O sobie</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td style="width:15%">{{ item.howMany }}</td>
                              <td style="width:15%">{{ item.whereKnew }}</td>
                              <td>{{ item.intro }}</td>
                            </tr>
                           
                          </tbody>
                        </table>

               {% endfor %}
               <br>
{% for item in signup.winter %}

<h6>Informacje od umiejetnosciach jazdy i sprzecie narciarskim:</h6>
<table border="0.5">
                          <thead align="center">
                            <tr>
                              <th scope="col">Czy jezdzil na nartach</th>
                              <th scope="col">Ocena umiejetnosci jazdy</th>
                              <th scope="col">Instruktor</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td>{% if item.skiEver %}Tak{% else %}Nie{% endif %}</td>
                              <td>{{ item.skiSkill }}</td>
                              <td>{% if item.skiInst %}Tak{% else %}Nie{% endif %}</td>
                            </tr>
                           
                          </tbody>
                        </table>
        <table border="0.5">
                          <thead align="center">
                            <tr>
                              <th scope="col">Rodzaj karnetu</th>
                              <th scope="col">Czy wypozycza sprzet narciarski</th>
                              <th scope="col">Jaki sprzet wyporzycza</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td>{{ item.passBuy }}</td>
                              <td>{% if item.skiLent %}Tak{% else %}Nie{% endif %}</td>
                              <td>{% if item.skiLent %}{{ item.skiLent }}{% else %} - {% endif %}</td>
                            </tr>
                           
                          </tbody>
                        </table>
    

{% endfor %}
<br>
<hr>
               {% endfor %}