<h2 align="center">{{ event.name }}{% if event.date %} ({{ event.date }}){% endif %}</h2>
<h3>Podsumowanie:</h3>
<table  border="0.5">
                          <thead align="center">
                            <tr>
                              <th scope="col">Zgloszenia</th>
                              <th scope="col">Potwierdzone</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td>{{ dic['num_signup'] }}</td>
                              <td>{{ dic['num_active'] }}</td>
                            </tr>
                    </tbody>
                    </table>
<br>
<h3>Lista uczestników:</h3>
<hr>
{% for signup in sn_lst %}
<div class="card">
    <div class="card-header">
<h5>Uczestnik nr {{ loop.index }}</h5>
</div>
    {% for item in signup.person %}
<h6>Weryfikacja: {% if item.is_verified %}<font color="green">Zapis potwierdzony</font>{% else %}<font color="red">Czeka na potwierdzenie{% endif %}</font></h6>
<h6>Data zapisu: {{ signup.date }}</h6>
<h6>Dane uczestnika:</h6>
<table  border="0.5">
                          <thead align="center">
                            <tr>
                              <th scope="col">Imie i nazwisko</th>
                              <th scope="col">Email</th>
                              <th scope="col" style="width:12%">Numer telefonu</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td>{{ item.name }}</td>
                              <td>{{ item.email }}</td>
                              <td style="width:12%">{{ item.telNum }}</td>
                            </tr>
                           
                          </tbody>
                        </table>
                        <table  border="0.5">
                           <thead align="center">
                            <tr>
                              <th scope="col" style="width:12%">Rok urodzenia</th>
                              <th scope="col">Adres</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td style="width:12%">{{ item.year }}</td>
                              <td>{{ item.adress }}</td>
                            </tr>
                           
                          </tbody>
                        </table>
{% endfor %}
          
{% for item in signup.basic %}
<h6>Dodatkowe informacje:</h6>
<table  border="0.5">
                          <thead align="center">
                            <tr>
                              <th scope="col" style="width:15%">Ktory raz na akcji</th>
                              <th scope="col" style="width:15%">Skad sie dowiedzial</th>
                              <th scope="col">O sobie</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td style="width:15%">{{ item.howMany }}</td>
                              <td style="width:15%">{{ item.whereKnew }}</td>
                              <td>{{ item.intro }}</td>
                            </tr>
                           
                          </tbody>
                        </table>

               {% endfor %}
               <br>
<hr>
               {% endfor %}