<a name="top"></a>
<div class="card">
    <div class="card-header" style="background-color: #323a3e">
<h4><font color="white">Podsumowanie:</font></h4>
</div>
<div class="card-body">
<table class="table table-bordered">
                          <thead class="thead-light" align="center">
                            <tr>
                            <th colspan="6">Rozmiary koszulek</th>
                              <th scope="col">Zgloszenia</th>
                              <th scope="col">Potwierdzone</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                                <td><b>XS</b></td>
                              <td><b>S</b></td>
                              <td><b>M</b></td>
                              <td><b>L</b></td>
                              <td><b>XL</b></td>
                              <td><b>XXL</b></td>
                              <td>{{ dic['num_signup'] }}</td>
                              <td>{{ dic['num_active'] }}</td>
                            </tr>
                            <tr>
                              <td>{{ dic['xs'] }}</td>
                              <td>{{ dic['s'] }}</td>
                              <td>{{ dic['m'] }}</td>
                              <td>{{ dic['l'] }}</td>
                              <td>{{ dic['xl'] }}</td>
                              <td>{{ dic['xxl'] }}</td>
                            </tr>
                    </tbody>
                        </table>
                      </div>
</div>
<br>
    <div class="card-header">
      {% if dic['num_signup'] != 0 %}
<h4><font color="blue">Lista uczestników:</font></h4>
{% else %}
<h4><font color="red">Brak zapisanych uczestników:</font></h4>
{% endif %}

</div>
<br>
{% for signup in sn_lst %}
<div class="card">
    <div class="card-header" style="background-color: #323a3e">
<h5><font color="white">Uczestnik nr {{ loop.index }}</font></h5>
</div>
    {% for item in signup.person %}
    <div class="card-body">
      <div class="col-md-12 text-right">
        {% if not item.is_verified %}
        <a href="/signup-verified?event_id={{ event.id }}&person_id={{ item.id }}"><button type="button" class="btn btn-danger">Potwierdź zapis</button></a>
        {% else %}
        <button type="button" class="btn btn-success" disabled>Zgłoszenie potwierdzone</button>

        {% endif %}
      </div>
<h6>Data zapisu: {{ signup.date }}</h6>
<h6>Dane uczestnika:</h6>
<table class="table table-bordered">
                          <thead class="thead-light" align="center">
                            <tr>
                              <th scope="col">Imię i nazwisko</th>
                              <th scope="col">Email</th>
                              <th scope="col">Adres</th>
                              <th scope="col">Rok urodzenia</th>
                              <th scope="col">Numer telefonu</th>
                              <th scope="col">Rozmiar koszulki</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td>{{ item.name }}</td>
                              <td>{{ item.email }}</td>
                              <td>{{ item.adress }}</td>
                              <td>{{ item.year }}</td>
                              <td>{{ item.telNum }}</td>
                              <td>{{ item.selectSize }}</td>
                            </tr>
                           
                          </tbody>
                        </table>
               {% endfor %}
               <br>
{% for item in signup.basic %}
<h6>Dodatkowe informacje:</h6>
<table class="table table-bordered">
                          <thead class="thead-light" align="center">
                            <tr>
                              <th scope="col">Który raz na akcji</th>
                              <th scope="col">Skąd się dowiedział</th>
                              <th scope="col">Coś o sobie</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td>{{ item.howMany }}</td>
                              <td>{{ item.whereKnew }}</td>
                              <td>{{ item.intro }}</td>
                            </tr>
                           
                          </tbody>
                        </table>
               {% endfor %}
               <br>
             </div>
           </div><br>
               {% endfor %}
               <div class="col-md-12 text-right">
<a href="#top"><button type="button" class="btn btn-dark">Wróć do początku strony</button></a>
</div>