<a name="top"></a>
<div class="card">
    <div class="card-header" style="background-color: #323a3e">
<h4><font color="white">Podsumowanie:</font></h4>
</div>
<div class="card-body">
<table class="table table-bordered">
                          <thead class="thead-light" align="center">
                            <tr>
                              <th scope="col">Zgloszenia</th>
                              <th scope="col">Potwierdzone</th>
                              <th scope="col">Jeździło na nartach</th>
                              <th scope="col">Potrzebuje instruktora</th>
                              <th scope="col">Wyporzycza sprzęt</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td>{{ dic['num_signup'] }}</td>
                              <td>{{ dic['num_active'] }}</td>
                              <td>{{ dic['n_skiEver'] }}</td>
                              <td>{{ dic['n_skiInst'] }}</td>
                              <td>{{ dic['n_isLent'] }}</td>
                            </tr>
                    </tbody>
                        </table>
<br>
<table class="table table-bordered">
                          <thead class="thead-light" align="center">
                            <tr>
                              <th colspan="2">Rodzaj karnetu</th>
                              <th colspan="6">Wyporzyczany sprzęt</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td><b>Ulgowy</b></td>
                              <td><b>Normalny</b></td>
                              <td><b>Narty</b></td>
                              <td><b>Buty</b></td>
                              <td><b>Deska</b></td>
                              <td><b>Kask</b></td>
                              <td><b>Kijki</b></td>
                              <td><b>Gogle</b></td>
                            </tr>
                            <tr>
                              <td>{{ dic['discount'] }}</td>
                              <td>{{ dic['normal'] }}</td>
                              <td>{{ dic['narty'] }}</td>
                              <td>{{ dic['buty'] }}</td>
                              <td>{{ dic['deska'] }}</td>
                              <td>{{ dic['kask'] }}</td>
                              <td>{{ dic['kijki'] }}</td>
                              <td>{{ dic['gogle'] }}</td>
                            </tr>
                    </tbody>
                        </table>
                      </div>
</div>
<br>
    <div class="card-header">
      {% if dic['num_signup'] != 0 %}
<h4><font color="blue">Lista uczestników:</font></h4>
{% else %}
<h4><font color="red">Brak zapisanych uczestników:</font></h4>
{% endif %}

</div>
<br>

{% for signup in sn_lst %}
<div class="card">
    <div class="card-header" style="background-color: #323a3e">
<h5><font color="white">Uczestnik nr {{ loop.index }}</font></h5>
</div>
    {% for item in signup.person %}
    <div class="card-body">
      <div class="col-md-12 text-right">
        {% if not item.is_verified %}
        <a href="/signup-verified?event_id={{ event.id }}&person_id={{ item.id }}"><button type="button" class="btn btn-danger">Potwierdź zapis</button></a>
        {% else %}
        <button type="button" class="btn btn-success" disabled>Zgłoszenie potwierdzone</button>

        {% endif %}
      </div>
<h6>Data zapisu: {{ signup.date }}</h6>
<h6>Dane uczestnika:</h6>
<table class="table table-bordered">
                          <thead class="thead-light" align="center">
                            <tr>
                              <th scope="col">Imię i nazwisko</th>
                              <th scope="col">Email</th>
                              <th scope="col">Adres</th>
                              <th scope="col">Rok urodzenia</th>
                              <th scope="col">Numer telefonu</th>
                              <th scope="col">Wzrost</th>
                              <th scope="col">Waga</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td>{{ item.name }}</td>
                              <td>{{ item.email }}</td>
                              <td>{{ item.adress }}</td>
                              <td>{{ item.year }}</td>
                              <td>{{ item.telNum }}</td>
                              <td>{% if item.skiLent %}{{ item.height }} cm{% else %} - {% endif %}</td>
                              <td>{% if item.skiLent %}{{ item.weight }} kg{% else %} - {% endif %}</td>
                            </tr>
                           
                          </tbody>
                        </table>
               {% endfor %}
               <br>
{% for item in signup.basic %}
<h6>Dodatkowe informacje:</h6>
<table class="table table-bordered">
                          <thead class="thead-light" align="center">
                            <tr>
                              <th scope="col">Który raz na akcji</th>
                              <th scope="col">Skąd się dowiedział</th>
                              <th scope="col">Coś o sobie</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td>{{ item.howMany }}</td>
                              <td>{{ item.whereKnew }}</td>
                              <td>{{ item.intro }}</td>
                            </tr>
                           
                          </tbody>
                        </table>
               {% endfor %}
               
             <br>
    {% for item in signup.winter %}

<h6>Informacje od umiejętnościach jazdy i sprzęcie narciarskim:</h6>
<table class="table table-bordered">
                          <thead class="thead-light" align="center">
                            <tr>
                              <th scope="col">Czy jeździł na nartach</th>
                              <th scope="col">Ocena umiejętności jazdy</th>
                              <th scope="col">Czy będzie potrzebował instruktora</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td>{% if item.skiEver %}Tak{% else %}Nie{% endif %}</td>
                              <td>{{ item.skiSkill }}</td>
                              <td>{% if item.skiInst %}Tak{% else %}Nie{% endif %}</td>
                            </tr>
                           
                          </tbody>
                          <thead class="thead-light" align="center">
                            <tr>
                              <th scope="col">Rodzaj karnetu</th>
                              <th scope="col">Czy będzie wypożyczał sprzęt narciarski</th>
                              <th scope="col">Jaki sprzęt będzie wyporzyczał</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                            <tr>
                              <td>{{ item.passBuy }}</td>
                              <td>{% if item.skiLent %}Tak{% else %}Nie{% endif %}</td>
                              <td>{% if item.skiLent %}{{ item.skiLent }}{% else %} - {% endif %}</td>
                            </tr>
                           
                          </tbody>
                        </table>
    

{% endfor %}
</div>
           </div><br>
               {% endfor %}
               <div class="col-md-12 text-right">
<a href="#top"><button type="button" class="btn btn-dark">Wróć do początku strony</button></a>
</div>