{% extends "base.html" %} 
{% block title %}Zapisy Kapszlak - akcje kapszlakowe{% endblock %} 

{% block content %}
<div class="card">
      <div class="card-body">
      	<div class="card">
		    <div class="card-body">
		    	{% if test %}
		    		{% for item in test%}
		    			<p>{{ item.name }}</p>
		    		{% endfor %}
		    	{% endif %}
		    </div>
		</div>
		<div class="card">
		    <div class="card-body">
			   <h3 class="card-title" align="center">Edycja akcji kapszlakowych</h3>
			   <br>
			</div>
			<div class="card-body">
		<form method="POST">
			<p align="center">dodaj akcję</p>
			<div class="form-group">
				<label for="name">Nazwa akcji:</label>
				 	<input
				      type="text"
				      class="form-control"
				      id="eventName"
				      name="eventName"
				    />
				</div>
				<div class="form-group">
				<label for="template">Szablon akcji:</label>
				 	<input
				      type="number"
				      class="form-control"
				      id="template"
				      name="template"
				    />
				</div>
			<div class="col-md-12 text-center">
				 <a href="#"><button type="submit" class="btn btn-secondary btn-lg">Prześlij</button></a>

		</form>
	</div>
		</div>
	</div>
</div>
{% endblock %}