{% extends "base.html" %} 
{% block title %}Zapisy Kapszlak - akcje kapszlakowe{% endblock %} 

{% block content %}
<div class="card">
      <div class="card-body">
		<div class="card">
			<div class="card-header">
				<h3 align="center"><a href ='/dashboard'>Panel administracyjny</a> -> Akcje</h3>
			</div>
		    <div class="card-body">
			   <div class="card-deck">
				  <div class="card">
				    <div class="card-body">
				      <h5 class="card-title">Akcje na nowy rok</h5>
				      <p class="card-text">Utwórz akcje na nowy rok. Dla każdej akcji wprowadź nazwę, datę oraz szablony formularza i wiadomości email. </p>
				    </div>
				    <div class="card-footer">
				      <small class="text-muted"> 
				      	<div class="col-md-12 text-right">
				  		<a href="/dashboard/addyear"><button type="button" class="btn btn-secondary">Przejdź</button></a></div>
				  	</small>
				  	
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-body">
				      <h5 class="card-title">Bierzące akcje</h5>
				      <p class="card-text">Administruj akcje. Podgładnij zapisy, edytuj, generuj maile i podsumowanie w formacie pdf, zmieniaj status akcji (widoczność na stronie głównej). Dodawaj i usuwaj akcje.</p>
				    </div>
				    <div class="card-footer">
				      <small class="text-muted"><div class="col-md-12 text-right">
				  		<a href="/dashboard/edityear"><button type="button" class="btn btn-secondary">Przejdź</button></a></div></small>
				    </div>
				  </div>
				   <div class="card">
				    <div class="card-body">
				      <h5 class="card-title">Archiwum akcji</h5>
				      <p class="card-text">Wygeneruj podsumowania pdf z minionych lat. Przeglądaj stare zapisy.</p>
				    </div>
				    <div class="card-footer">
				      <small class="text-muted"><div class="col-md-12 text-right">
				  		<a href="/dashboard/oldevents"><button type="button" class="btn btn-secondary">Przejdź</button></a></div></small>
				    </div>
				  </div>
				</div>
		    </div>

		</div>
	</div>
</div>
{% endblock %}