{% extends "base.html" %} 
{% block title %}Zapisy Kapszlak - Dziękujemy za zgłoszenie!{% endblock %} 

{% block content %}
<div class="card">
     <img class="card-img-top" src="./static/img/baner2.jpg" alt="Obrazek w karcie">
      <div class="card-body">
		<div class="card">
		    <div class="card-body">
			   <h3 class="card-title" align="center">Wiadomość po zapisaniu się</h3>
		    </div>
		    {% if event.signup %}
		    {% for signup in event.signup %}
		    	{% for person in signup.person %}
		    		{{ person.name }} {{ person.email }} {{ person.selectSize }} {{ person.telNum }}
		    		{% endfor %}
		    	{% for basic in signup.basic %}
		    		{{ basic.howMany }} {{ basic.selectSize }} {{ basic.intro }} <br>
		    		{% endfor %}
		    		<br>
		    {% endfor %}
		    {% endif %}
		</div>
	</div>
</div>

{% endblock %}