{% extends "base.html" %} 
{% block title %}Zapisy Kapszlak - Dziękujemy za zgłoszenie!{% endblock %} 

{% block content %}
<div class="card">
     <img class="card-img-top" src="./static/img/baner2.jpg" alt="Obrazek w karcie">
      <div class="card-body">
		<div class="card">
		    <div class="card-body">
			   <h3 class="card-title" align="center">Twoje zgłoszenie zostało przyjęte!</h3>
		    </div>
		    <div class="card">
		    	<div class="card-body">
		    		<div class="col-md-12 text-center">
		    		<p>Pokój i dobro! Twoje zgłoszenie zostało przesłane do nas. Poczekaj na maila z dalszymi informacjami. Pozdrawiamy!</p>
		    	</div>
		    </div>
		</div>
		    <br>
		</div>
	</div>
</div>

{% endblock %}