<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />


    <link rel="shortcut icon" href="../static/img/favicon.ico">

    <link rel="stylesheet" href="../static/css/style.css"/>


    <title>{% block title %}Pojedź z nami!{% endblock %}</title>

  </head>
  
  <body>
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="facebook" viewBox="0 0 16 16">
      <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
    </symbol>
    <symbol id="youtube" viewBox="0 0 16 16">
    <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
    </symbol>
    </svg>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="https://kapszlak.kapucyni.pl">
            <img src="../static/img/logo.png" width="60" height="60" alt="">
            </a>

        <div class="navbar-nav ml-auto">
          
        
          {% if user.get_id() == '1' %}
          <a class="nav-item nav-link" id="signUp" href="/">Zapisy</a>
          <a class="nav-item nav-link" id="dashboard" href="/dashboard">Panel administracyjny</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Wyloguj</a>
          {% endif %}
          <a class="nav-item nav-link " href="https://kapszlak.kapucyni.pl">Kapszlak</a>
          

        </div>
    </nav>
  </header>
      {% with massages = get_flashed_messages(with_categories=true) %}
        {% if massages %}
          {% for category, massage in massages %}
            {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissable fade show" role="alert">
              {{ massage }}
            </div>
            {% else %}
            <div class="alert alert-success alert-dismissable fade show" role="alert">
              {{ massage }}
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}  
        {% endwith %}
  
        {% block content %}
          
          {% endblock %}
    
  <div id="cookieBanner" class="cookie-banner" style="display: none;">
    Ta strona używa plików cookie. Kliknij przycisk, aby zaakceptować pliki cookie.
    <button id="acceptCookies">Akceptuj</button>
  </div>


    <div class="b-example-divider"></div>

    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="card-deck">
          <div class="card">
            <div class="card-header">
              <h7 style="font-size: 0.875em">Polityka prywatności</h7>
            </div>
            <div class="card-body">
              <p style="font-size: 0.675em">Strona korzysta z plików cookies w celu realizacji usług i zgodnie z <a href='https://kapszlak.kapucyni.pl/polityka-prywatnosci-2/'>Polityką Prywatności</a>. Możesz określić warunki przechowywania lub dostępu do plików cookies w Twojej przeglądarce.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h7 style="font-size: 0.875em">Ochrona danych</h7>
            </div>
            <div class="card-body">
              <p style="font-size: 0.675em">Dane osobowe zawarte w serwisie przetwarzane są za zgodą lub na mocy prawa. Administratorami danych są: Kapucyni Prowincja Krakowska </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h7 style="font-size: 0.875em">Kontakt z administratorem</h7>
            </div>
            <div class="card-body">
              <p style="font-size: 0.675em">Coś na stronie działa nie tak jak powinno? Masz jakieś sugestie, lub po prostu chcesz podzielić się opinią na temat naszej strony internetowej. Napisz wiadomość do administratora witryny: kapszlak@gmail.com</p>
            </div>
          </div>
        </div>
      </footer>
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted">&copy; 2023 kapszlak.kapucyni.pl</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="https://www.youtube.com/user/kapszlak"><svg class="bi bi-youtube" width="24" height="24"><use xlink:href="#youtube"/></svg></a></li>
          <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/Kapucy%C5%84skim-Szlakiem-334106473661"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        </ul>
        
      </footer>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
