{% extends "base.html" %} 
{% block title %}Zapisy Kapszlak - Panel administracyjny{% endblock %} 

{% block content %}
<div class="card">
      <div class="card-body">
		<div class="card">
		    <div class="card-body">
			   <h3 class="card-title" align="center">Panel administracyjny</h3>
			   <br>
			   <div class="card-deck">
				  <div class="card">
				    <div class="card-body">
				      <h5 class="card-title">Zapisy</h5>
				      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				    </div>
				    <div class="card-footer">
				      <small class="text-muted"> 
				      	<div class="col-md-12 text-right">
				  		<a href="/dashboard/signup"><button type="button" class="btn btn-secondary">Przejdź</button></a></div>
				  	</small>
				  	
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-body">
				      <h5 class="card-title">Akcje</h5>
				      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
				    </div>
				    <div class="card-footer">
				      <small class="text-muted"><div class="col-md-12 text-right">
				  		<a href="/dashboard/events"><button type="button" class="btn btn-secondary">Przejdź</button></a></div></small>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-body">
				      <h5 class="card-title">Czarna lista</h5>
				      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				    </div>
				    <div class="card-footer">
				      <small class="text-muted"><div class="col-md-12 text-right">
				  		<a href="/dashboard/blacklist"><button type="button" class="btn btn-secondary">Przejdź</button></a></div></small>
				    </div>
				  </div>
				</div>
		    </div>

		</div>
	</div>
</div>
{% endblock %}