{% extends "base.html" %} 
{% block title %}Zapisy Kapszlak - Panel administracyjny{% endblock %} 

{% block content %}
<div class="card">
      <div class="card-body">
		<div class="card">
			<div class="card-header">
				  		<h3 align="center">Panel administracyjny</h3>
				  	</div>
		    <div class="card-body">
			   <div class="card-deck">
				  <div class="card">
				  	<div class="card-header">
				  		<h5>Akcje</h5>
				  	</div>
				    <div class="card-body">
				      <p class="card-title">Dodaj nowy rok z akcjami. Administruj bierzące akcje. Zobacz archiwum minionych lat.</p>
				    </div>
				    <div class="card-footer">
				      <small class="text-muted"><div class="col-md-12 text-right">
				  		<a href="/dashboard/events"><button type="button" class="btn btn-secondary">Przejdź</button></a></div></small>
				    </div>
				  </div>
				  <div class="card">
				  	<div class="card-header">
				  		<h5>Czarna lista</h5>
				  	</div>
				    <div class="card-body">
				      <p class="card-title">Dodawaj i edytuj członków czarnej listy. Wprowadź nieprządany email i / lub numer telefonu.</p>
				    </div>
				    <div class="card-footer">
				      <small class="text-muted"><div class="col-md-12 text-right">
				  		<a href="/dashboard/blacklist"><button type="button" class="btn btn-secondary">Przejdź</button></a></div></small>
				    </div>
				  </div>
				  <div class="card">
				  	<div class="card-header">
				  		<h5>Logi</h5>
				  	</div>
				    <div class="card-body">
				      <p class="card-title">Śledzenie działania aplikacji.</p>
				    </div>
				    <div class="card-footer">
				      <small class="text-muted"><div class="col-md-12 text-right">
				  		<a href="/dashboard/logs"><button type="button" class="btn btn-secondary">Przejdź</button></a></div></small>
				    </div>
				  </div>
				</div>
		    </div>

		</div>
	</div>
</div>
{% endblock %}