{% extends "base.html" %} 
{% block title %}Zapisy Kapszlak - Edycja bierzących akcji{% endblock %} 
{% block content %}
			{% if years %}
					<div class="card-body">
		    		<p>Lista lat:</p>
		    		<ul class="list-group list-group-flush" id="blacklistID">
		    			{% for item in years %}
		    			<li class="list-group-item">
		    				{{ item.id }}. <i>Nazwa:</i> <b>{{ item.name }}</b> <---> <i>Czy aktywny:</i> <b>{{ item.is_active }}</b> {{ item.event_num }}
		    				<a href="/delete-year/{{ item.id }}"><button type="button" class="close" >usuń</button></a>
		    			</li>
		    			{% endfor %}
		    		</ul>
				</div>
				<div class="card-body">
				<p>Lista evantów dla {{ year.name }}:</p>
					{{ year.events }}
				<p>Lista templatów:</p>
				{% for event in year.events %}
					{{ event.name }} {{ event.temp_id }} {{ event.date }} {{ event.mail_temp }} {{ event.is_active }}  
					
				{% endfor %}
				<p></p>
				</div>
			{% endif %}

				dfsdffssfdf

{% endblock %}