{% extends "base.html" %} 
{% block title %}Zapisy Kapszlak - Edycja bierzących akcji{% endblock %} 
{% block content %}
			
	{% if year %}
<div class="card"> 
	<div class="card-body">
		<div class="card">
			<div class="card-header">
				<h3 align="center"><a href ='/dashboard'>Panel administracyjny</a> -> <a href='/dashboard/events'>Akcje</a> -> {{ year.name }}</h3>
			</div>
		  	<div class="card-body">
				  <div class="card">
				  	<div class="card-header">
				  		<h4>Lista akcji:</h4>
				  	</div>
				    <div class="card-body">
				      <table class="table table-bordered">
                          <thead class="thead-dark" align="center">
                            <tr>
                              <th scope="col">Nazwa</th>
                              <th scope="col">Data</th>
                              <th scope="col">Liczba zapisów</th>
                              <th scope="col">Status</th>
                              <th scope="col">Operacje</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                          {% for event in lst_events%}
                            <tr>
                              <th scope="row">{{ event.name }}</th>
                              <td>{% if event.date %}{{ event.date }}{% else %} - {% endif %}</td>
                              <td>{{ event.signup|length }}</td>
                              <td>{% if event.is_active %}<font color="green">Aktywny</font>{% else %}<font color="red">Nieaktywny{% endif %}</font></td>
                              <td><a href="/dashboard/eventview?event_id={{ event.id }}"><button type="button" class="btn btn-secondary btn-sm">Zobacz</button></a>
							  <a href="/dashboard/editevent?event_id={{ event.id }}"><button type="button" class="btn btn-warning btn-sm">Edytuj</button></a>
							  <a href="/dashboard/mail?event_id={{ event.id }}"><button type="button" class="btn btn-dark btn-sm">Generuj maile</button></a>
							  <a href="/pdf?event_id={{ event.id }}"><button type="button" class="btn btn-success btn-sm">Generuj PDF</button></a>
							  <a href="/event-status/{{ event.id }}"><button type="button" class="btn btn-info btn-sm">Zmień status</button></a>
							  <a href="/delete?event_id={{ event.id }}"><button type="button" class="btn btn-danger btn-sm">Usuń</button></a>
							  </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
					</div>
				</div>
				<br>
				  <div class="card">
				  	<div class="card-header">
				  		<h4>Dodaj nową akcję do aktywnego roku:</h4>
				  	</div>
				    <div class="card-body">
				      <form method="POST">

		  		<div class="card-body">
				<div class="form-group">
					<label for="name">Nazwa:</label>
					 	<input
					      type="text"
					      class="form-control"
					      id="name"
					      name="name"
					      required="required"
					      value = "{% if backup %}{{ backup.name }}{% endif %}"
					    />
					</div>
				<div class="form-group">
					<label for="date">Data:</label>
					 	<input
					      type="date"
					      class="form-control"
					      id="date"
					      name="date"
					      value = "{% if backup %}{{ backup.date }}{% endif %}"
					    />
					</div>
					<div class="form-group">
					<label for="template"><div class="basic">Szablon zapisów:&nbsp;</div> <i>
						<div class="basic">
							1. Podstawowy,&nbsp; 
							<span class="tooltiptext">Szablon zawiera: rozmiar koszulki, załącznik z kartą uczestnika</span>
						</div>
						<div class="basic">
							 2. Ferie,&nbsp;
							<span class="tooltiptext">Szablon zawiera: załącznik z kartą uczestnika, dodatkowe informacje o sprzęcie narciarskim</span>
						</div>
						<div class="basic">
							 3. Turniej,&nbsp;
							<span class="tooltiptext">Szablon zawiera: zapisy opiekuna i zawodników drużyny na turniej</span>
						</div>
						<div class="basic">
							 4. Dla starszych,&nbsp;
							<span class="tooltiptext">Szablon zawiera: rozmiar koszulki, dodatkowe informację dla starszych, załącznik z kartą uczestnika</span>
						</div>
						<div class="basic">
							 5. Dni skupienia,&nbsp;
							<span class="tooltiptext">Szablon zawiera: tylko podstawowe informację, bez załącznika</span>
						</div> 
						<div class="basic">
							 6. Kajaki&nbsp;
							<span class="tooltiptext">Szablon zawiera: zapisy ojca i synów</span>
						</div>     
					    </i> </label>
					 	<select 
		    			class="form-control" 
		    			id="template"
		    			name="template"
		    			>
		    					{% if backup %}
		    				{% if backup.temp_id == 1 %}
					 			<option>Szablon 1</option>
					 			<option>Szablon 2</option>
		    						<option>Szablon 3</option>
		    						<option>Szablon 4</option>
		    						<option>Szablon 5</option>
		    						<option>Szablon 6</option>
		    						
		    						{% elif backup.temp_id == 2 %}
		    						<option>Szablon 2</option>
		    						<option>Szablon 1</option>
		    						<option>Szablon 3</option>
		    						<option>Szablon 4</option>
		    						<option>Szablon 5</option>
		    						<option>Szablon 6</option>
		    						{% elif backup.temp_id == 3 %}
		    						<option>Szablon 3</option>
		    						<option>Szablon 1</option>
					 				<option>Szablon 2</option>
					 				<option>Szablon 4</option>
		    						<option>Szablon 5</option>
		    						<option>Szablon 6</option>
		    						{% elif backup.temp_id == 4 %}
		    						<option>Szablon 4</option>
		    						<option>Szablon 1</option>
					 				<option>Szablon 2</option>
		    						<option>Szablon 3</option>
		    						<option>Szablon 5</option>
		    						<option>Szablon 6</option>
		    						{% elif backup.temp_id == 5 %}
		    						<option>Szablon 5</option>
		    						<option>Szablon 1</option>
					 				<option>Szablon 2</option>
		    						<option>Szablon 3</option>
		    						<option>Szablon 4</option>
		    						<option>Szablon 6</option>
		    						{% elif backup.temp_id == 6 %}
		    						<option>Szablon 6</option>
		    						<option>Szablon 1</option>
					 				<option>Szablon 2</option>
		    						<option>Szablon 3</option>
		    						<option>Szablon 4</option>
		    						<option>Szablon 5</option>
									{% else %}
									<option>Wybierz opcję</option>
		    						<option>Szablon 1</option>
					 				<option>Szablon 2</option>
		    						<option>Szablon 3</option>
		    						<option>Szablon 4</option>
		    						<option>Szablon 5</option>
		    						<option>Szablon 6</option>

		    						{% endif %}

		    				{% else %}
		    				<option>Wybierz opcję</option>
		    				<option>Szablon 1</option>
					 			<option>Szablon 2</option>
		    						<option>Szablon 3</option>
		    						<option>Szablon 4</option>
		    						<option>Szablon 5</option>
		    						<option>Szablon 6</option>

					      {% endif %}
					  
		    		</select>
					</div>
					<div class="form-group">
					<label for="mail_temp">Szablon wiadomości email:</label>
					 	<textarea
					      class="form-control"
					      id="mail_temp"
					      name="mail_temp"
					      rows="6" 
					      cols="40"
					      placeholder="Tutaj wpisz treść maila"
					    >{% if backup %}{{ backup.mail_temp }}{% endif %}</textarea>
					</div>
				</div>
				<div class="col-md-12 text-center">
					 <a href="#"><button type="submit" class="btn btn-secondary btn-lg">Dodaj akcję</button></a>
				</div>
			</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}


{% endblock %}