{% extends "base.html" %} 
{% block title %}Zapisy na {{ event.name }}{% endblock %} 

{% block content %}
<div class="card">
		    <div class="card-body">
		    	<h3 class="card-title" align="center">Lista uczestników {{ event.name }}</h3>
		    	<div class="card">
		    		<div class="card-body">
		    		{% if event.temp_id == 1 %}
			    		{% include 'signup_view/ev1.html' %}
			    	{% elif event.temp_id == 2 %}
			    		{% include 'signup_view/ev2.html' %}
			    	{% elif event.temp_id == 3 %}
			    		{% include 'signup_view/ev3.html' %}
			    	{% elif event.temp_id == 4 %}
			    		{% include 'signup_view/ev4.html' %}
			    	{% elif event.temp_id == 5 %}
			    		{% include 'signup_view/ev5.html' %}
			    	{% elif event.temp_id == 6 %}
			    		{% include 'signup_view/ev6.html' %}
			    	{% endif %}
		    		</div>

		</div>
	</div>
</div>

{% endblock %}