{% extends "base.html" %} 
{% block title %}Zapisy na akcje Kapszlakowe{% endblock %} 

{% block content %}

  <div class="card">
     <img class="card-img-top" src="./static/img/baner2.jpg" alt="Obrazek w karcie">
      <div class="card-body">
		<div class="card">
		    <div class="card-body">
			    <h3 class="card-title" align="center">Zapisz się na kapszlakową akcję!</h3>
				  <p align="center">Wypełnij formularz.</p>
		    				{% if lst_events %}
		    	<form method="POST">
				  <div class="form-group">
		    		<label for="selectEvent">Gdzie chciałbyś z nami pojechać?</label>
		    		<select 
		    			class="form-control" 
		    			id="selectEvent"
		    			name="selectEvent">
		    			<option disabled selected>Kliknij aby wybrać akcję.</option>
		    					{% for event in lst_events %}
		    						{% if event.is_active %}
		    						<option>{% if event.date %}{{ event.date }} {{ event.name }}{% else %}{{ event.name }}{% endif %}</option>
		    						{% endif %}
		    					{% endfor %}
		    		</select>
		  		</div>
				  <div class="col-md-12 text-center">
				  	<a href="#"><button type="submit" class="btn btn-secondary btn-lg">Przejdź dalej</button></a>
				  </div>
				
				</form>
				{% else %}
				<br>
				<h5 align="center">Brak akcji, na które mógłbyś się zapisać. Zajrzyj wkrótce.</h5>
				{% endif %}
		    </div>

		</div>
	</div>
</div>
{% endblock %}