{% extends "base.html" %} 
{% block title %}Zapisy Kapszlak - Edycja bierzących akcji{% endblock %} 
{% block content %}
			

<div class="card"> 
	<div class="card-body">
		<div class="card">
			<div class="card-header">
			   <h3 align="center"><a href ='/dashboard'>Panel administracyjny</a> -> <a href='/dashboard/events'>Akcje</a> -> Archiwum akcji</h3>
			 </div>
		  	<div class="card-body">
		  		<div class="card"> 
		  			{% if lst_years %}
		<div class="card-header">
			<h4 align="center">Wybierz rok</h4>
		</div>
			<div class="card-body">
				<form method="POST">
				  <div class="form-group">
		    		<select 
		    			class="form-control" 
		    			id="selectYear"
		    			name="selectYear">
		    					<option disabled selected>Kliknij aby wybrać rok.</option>
		    					{% for year in lst_years %}
		    						<option>{{ year.name }}</option>
		    					{% endfor %}
		    		</select>
		  		</div>
		  		<div class="col-md-12 text-center">
				  	<a href="#"><button type="submit" class="btn btn-secondary btn-lg">Wybierz</button></a>
				  </div>
				
				</form>
				{% else %}
				<div class="card-header">
			<h3 align="center">Brak wcześniejszych lat w archiwum</h3>
		</div>
			{% endif %}
			</div>
		</div>
		<br>
		  		{% if year %}
				  <div class="card">
				  	<div class="card-header">
			<h4 align="center">Akcje dla roku: {{ year.name }}</h4>
			</div>
				    <div class="card-body">
				      <table class="table table-bordered">
                          <thead class="thead-dark" align="center">
                            <tr>
                              <th scope="col">Nazwa</th>
                              <th scope="col">Data</th>
                              <th scope="col">Liczba zapisów</th>
                              <th scope="col">Operacje</th>
                            </tr>
                          </thead>
                          <tbody align="center">
                          {% for event in lst_events%}
                            <tr>
                              <th scope="row">{{ event.name }}</th>
                              <td>{% if event.date %}{{ event.date }}{% else %} - {% endif %}</td>
                              <td>{{ event.signup|length }}</td>
                              <td><a href="/dashboard/eventview?event_id={{ event.id }}"><button type="button" class="btn btn-secondary btn-sm">Zobacz</button></a>
                   <a href="/dashboard/mail?event_id={{ event.id }}"><button type="button" class="btn btn-dark btn-sm">Generuj maile</button></a>
							  <a href="/pdf?event_id={{ event.id }}"><button type="button" class="btn btn-success btn-sm">Generuj PDF</button></a>
							  </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
					</div>
				</div>
				{% endif %}
				</div>
		</div>
	</div>
</div>


{% endblock %}