{% extends "base.html" %} 
{% block title %}Zapisy na {{ event.name }}{% endblock %} 

{% block content %}

 <div class="card">
     <img class="card-img-top" src="./static/img/baner2.jpg" alt="Obrazek w karcie">
      <div class="card-body">
		<div class="card">
		    <div class="card-body">
		    	<h3 class="card-title" align="center">{{ event.name }} - Zapisz się!</h3>
				  {% if event.temp_id == 3 %}
			    	{% include 'signup_temp/t3_next.html' %}
			    {% elif event.temp_id == 6 %}
			    	{% include 'signup_temp/t6_next.html' %}
			    {% endif %}

	</div>
		</div>
	</div>
</div>
{% endblock %}